:root{
    --white: #fff;
    --black: #353535;
    --lg: 2rem;
    --md: 1.6rem;
    --sm: 1.1rem;
    --paragraph: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
}
.hero{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;;
    background-image: url(./img/space.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.yo{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
}
.name{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40px;
    color: var(--white);
    position: absolute;
    top: calc(25%);
}
.name h1{
    font-family: 'Lilita One', cursive;
    font-weight: 300;
    font-size: var(--lg);
}
.name h2{
    font-family: var(--paragraph);
    font-weight: 400;
    font-size: var(--md);
    margin-top: 4px;
    color: var(--white);
}
.about{
    width: 100%;
    height: 60vh;
    display: grid;
    place-content: center;
    text-align: center;
}
h2{
    font-size: var(--md);
    font-family: 'Lilita One', cursive;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 16px;
}
p{
    font-size: var(--sm);
    font-weight: 500;
    color: var(--black);
    font-family: var(--paragraph);
}
.about-container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}
img{
    width: 120px;
}
.skills{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}
.skills-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
figure{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
figcaption{
    font-size: var(--sm);
    font-weight: 500;
    color: var(--black);
    font-family: var(--paragraph);
    position: absolute;
    bottom: 0;
}
.certificates{
    width: 100%;
    height: 60  vh;
    background-color: #001233;
    padding-top: 20px;
    text-align: center;
}
.certificates h2{
    font-size: var(--md);
    font-family: 'Lilita One', cursive;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 16px;
}
.carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 2%;
}
.carousel i{
    font-size: var(--md);
    color: var(--white);
}
.anterior, .siguiente{
    background: none;
    border: none;
    opacity: 0.4;
}
.anterior:hover, .siguiente:hover{
    opacity: 1;
}
.certificates-container{
    overflow-x: hidden;
    width: 90%;
}
.certificates-container img{
    padding: 0 12px;
}
.proyects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 4px;
}
.proyects-container{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 4%;
    justify-content: center;
    align-items: center;
}
.proyect-element{
    width: 100%;
    min-width: 280px;
    max-width: 320px;
    height: 180px;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 16px;
}
.proyect-element img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
#batata{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    padding: 12px;
}
#commerce{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    padding: 12px;
}
#commerce img{
    width: 100%;
    height: auto;
}
#platziVideo{
    display: flex;
    flex-direction: column;
}
#platziVideo img{
    width: 100%;
    height: auto;
}
#platziVideo .superior{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    border-radius: 16px 16px 0 0;
    background-color: #ef233c;
}
#platziVideo .inferior{
    width: 100%;
    height: 20%;
    border-radius: 0 0 16px 16px;
    background-color: #2b2d42;
}
#colorChange{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);;
}
#colorChange h2{
    font-family: 'Estonia', cursive;
    color: #313131;
    font-weight: 700;
    font-size: 2.4rem;
}
#paint{
    display: grid;
    place-items: center;
    background-color: #e63946;
}
#paint h2{
    font-family: 'Pacifico', cursive;
    color: var(--white);
    font-size: 2.4rem;
}
#simon{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#simon h2{
    font-size: 2.4rem;
    position: absolute;
    top: calc(50%-8px);
    right: calc(35%);
    justify-self: center;
    align-self: center;
}
#one{
    width: 50%;
    height: 50%;
    background-color: #ef476f;
    border-radius: 16px 0 0 0;
}
#two{
    width: 50%;
    height: 50%;
    background-color: #ffd166;
    border-radius: 0 16px 0 0;
}
#three{
    width: 50%;
    height: 50%;
    background-color: #06d6a0;
    border-radius: 0 0 0 16px;
}
#four{
    width: 50%;
    height: 50%;
    background-color: #118ab2;
    border-radius: 0 0 16px 0;
}